In [23]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data.head()
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [56]:
# calculates the totals
totSch = len(school_data['school_name'].unique())
totStu = len(student_data['student_name'])
totBud = school_data['budget'].sum()
totMath = student_data['math_score'].mean()
totRead = student_data['reading_score'].mean()
# uses bins to passes/fails, counts them and calculates percentages
bins = [0, 69, 100]
grpNames = ['fail', 'pass']
readRate = student_data.loc[:, ['student_name', 'reading_score']]
mathRate = student_data.loc[:, ['student_name', 'math_score']]
readRate["reading_score"] = pd.cut(readRate["reading_score"], bins, labels=grpNames)
mathRate["math_score"] = pd.cut(mathRate["math_score"], bins, labels=grpNames)
readRate = readRate.groupby('reading_score')
mathRate = mathRate.groupby('math_score')
readRate = readRate.count()
mathRate = mathRate.count()
readPass = (readRate.iat[1, 0]/readRate['student_name'].sum())*100
mathPass = (mathRate.iat[1, 0]/mathRate['student_name'].sum())*100
overPass = (mathPass+readPass)/2

# create a dataframe to display the output
distSum = {'Total Schools': [totSch],
          'Total Students': [totStu],
          'Total Budget': [totBud],
          'Average Math Score': [totMath],
          'Average Reading Score': [totRead],
          'Passing Math': [mathPass],
          'Passing Reading': [readPass],
          'Overall Passing Rate': [overPass]}
distSum = pd.DataFrame(distSum)
# format columns
distSum['Total Budget'] = distSum['Total Budget'].map("${:.2f}".format)
distSum['Average Math Score'] = distSum['Average Math Score'].map("{:.2f}".format)
distSum['Average Reading Score'] = distSum['Average Reading Score'].map("{:.2f}".format)
distSum['Passing Math'] = distSum['Passing Math'].map("{:.2f}%".format)
distSum['Passing Reading'] = distSum['Passing Reading'].map("{:.2f}%".format)
distSum['Overall Passing Rate'] = distSum['Overall Passing Rate'].map("{:.2f}%".format)

distSum

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
0,15,39170,$24649428.00,78.99,81.88,74.98%,85.81%,80.39%